.about{}

.date-time{background-color: #F6E962;}

.loaction{background-color: #9CEE5E;}

.map{}

.direction{background-color: black;
			color: white;}

.subway{background-color: #CC5A0B;}

.bus {background-color: #648FDC;}

.car{background-color: #9A7E3D;}

.path{background-color: #F67662;}
